:root {
  box-sizing: border-box;
  --table-size: 75vmin;
}

body {
  background-color: rgb(27, 53, 51);
}

h1 {
  color: whitesmoke;
  font-size: 60px;
  margin: 30px;
}

button {
  height: 40px;
  width: 140px;
}

#control {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: var(--table-size);
  height: var(--table-size);
  margin: 30px auto;
  border: 5px solid black;
}
.cell {
  height: 1fr;
  border: 1px solid lightgrey;
  background-color: white;
}

.drawed {
  background-color: rgba(0,0,0,0.5);
}
